body { 
	font-family: neu-haas-grotesk-display, sans-serif;
	background-color: #dcf442;
}

.background{ 
	width: 720px;
	height: 960px;
	margin: 0 auto;
}

.routetoschool { 
	top: 5px;
	left: 300px; 
	position: absolute;
	}

.logo { 
	top: 5px;
	left: 370px;
	position: absolute;
}

.Map { 
	top: 180px; 
	left: 150px;
	position: absolute;
 }

.Photo2{ 
	top: 400px;
	left: 500px;
	position: relative;
	}

.route {
 	top: 50px;
 	right: 400px;
 	position: relative; 
 }

 .route2 { 
 	top: 60px;
 	right: 500px;
 	position: relative;
 }

 .route3 { 
 	top: 50px;
 	left: 500px;
 	position: relative;
 }

.route4 {
	top:60px;
	left: 600px
	position: relative; 
}

.route5 {
	top:70px;
	left: 200px
	position: relative;
}

.route6 { 
	top:60px:
	left:600px;
	position: relative;
}

.route7 { 
	top:80px; 
	left:600px;
	position: relative; 
}

.route9 { 
top: 50px;
left: 600px;
position: relative; 
}